
# Created by https://www.gitignore.io/api/visualstudiocode

/[Aa]pp/
/[Bb]rudnopis/
/[Ii]nstall/
/[Ll]icense.key

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/visualstudiocode